.keyword {
	-fx-fill: blue;
	-fx-font-weight: bold;
}

.bracket {
	-fx-fill: black;
	-fx-font-weight: bold;
}

.paren {
	-fx-fill: black;
	-fx-font-weight: bold;
}

.brace {
	-fx-fill: black;
	-fx-font-weight: bold;
}

.indicator {
	-fx-fill: purple;
	-fx-font-weight: bold;
}

.string {
	-fx-fill: green;
	-fx-font-weight: bold;
}

.restricted {
	-fx-fill: crimson;
	-fx-font-weight: bold;
}