#dispoGrid {
	-fx-background-color: SLATEGRAY;
	-fx-border-color: black;
	-fx-alignment: CENTER;
}

#dispoGrid:hover {
	-fx-background-color: beige;
	-fx-border-color: black;
	-fx-alignment: CENTER;
}

#occupiedCoord {
	-fx-background-color: SLATEBLUE;
	-fx-border-color: black;
	-fx-alignment: CENTER;
}

#occupiedCoord:hover {
	-fx-background-color: beige;
	-fx-border-color: black;
	-fx-alignment: CENTER;
}

#selectedFaction {
	-fx-background-color: violet;
	-fx-border-color: black;
	-fx-alignment: CENTER;
}

#selectedFaction:hover {
	-fx-background-color: beige;
	-fx-border-color: black;
	-fx-alignment: CENTER;
}

#selectedBlock {
	-fx-background-color: seagreen;
	-fx-border-color: black;
	-fx-alignment: CENTER;
}

#selectedBlock:hover {
	-fx-background-color: beige;
	-fx-border-color: black;
	-fx-alignment: CENTER;
}

#dispoOptions {
	
}
